.ivy2/
.sbt/
.bash_history
.cache-main
.classpath
*.class
*.jar

# jedit
*~

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
